ldap3
ldapdomaindump
pyasn1
pycryptodomex
dsinternals
minikerberos
winsspi
impacket
pyOpenSSL
pycryptodome
prompt_toolkit
pydantic
oscrypto @ git+https://github.com/wbond/oscrypto.git@d5f3437ed24257895ae1edd9e503cfb352e635a8
colorama
